  .dome-card {
    border: none;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 10px teal;
    overflow: hidden;
    width: 200px;
    height: 200px;
    float:left;
    margin-left:50px;
    margin-top:20px;
    transition-duration: 200ms;
  }
  .dome-card img {
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
  }
  .dome-card .btn {
    width: 100%;
    background-color: teal;
    border-color: teal;
    border-radius: 0;
  }
  .dome-card:hover
  {
    box-shadow: 0 0 20px teal;
    transform: scale(1.2,1.2);
    transition-duration: 200ms;
    z-index: 1;
  }
  .dome-card h1{
    font-size: 80px;
  }

  /* for login page*/
  .abc {
  background: linear-gradient(to right, #00b4db, #0083b0);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
}

/*end user login*/
.code-m{
  margin-top:80px !important;
}
.code-i
{
  font-size: 20px;
    padding: 6px;
}